<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Kingdom!</title>
    <link rel="stylesheet" href="/public/css/jass.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="title">
        <header>
            <h1>Little Kingdom</h1>
            <img src="/images/logo.png" alt="logoimage">

            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                
                <button class="no-button" id="logout">logout</button>

                <img src="/images/main image.jpg" alt="headerimage">

                <nav>
                    <div class="topnav">
                        <a href="#aboutus">About Us</a>
                        <a href="../event.handlebars">Events</a>
                        <a href="../schedule.handlebars">Schedule</a>
                        <a href="../bookings.handlebars">Book now</a>
                        <a href="../contact.handlebars">Contact Us</a>

                    </div>
                </nav>

                {{else}}
                <a href="../login.handlebars">login</a>

                <img src="/images/main image.jpg" alt="headerimage">

                <nav>
                    <div class="topnav">
                        <a href="#aboutus">About Us</a>
                        <a href="../event.handlebars">Events</a>
                        <a href="../contact.handlebars">Contact Us</a>

                    </div>
                </nav>

                {{/if}}

            </nav>
        </header>

    </div>


    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>

    <footer></footer>
    </div>



    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}



</body>

</html>