<!-- Loop over each object in the daycares array -->
{{#each daycares as |daycare| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{daycare.daycare_name}}
    </h2>
    <p>
      <a href="/bookdaycare">{{daycare.description}}</a> |
        <button class="no-button" id="logout">Book</button>
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{daycares.daycare_description}}
    </p>
  </div>
</div>
{{/each}}
